
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");

@import "variables";
@import "~bootstrap-sass/assets/stylests/bootstrap";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

 $facebook-color:#3b5998;
  $twitter-color:##55acee;
 $instagram-color:#dd4b39;

 .btn-facebook{
background-color: $facebook-color;
border-color:darken($facebook-color,3%);
color:white;
&:hover, &:active, &:focus{
	color:white;
}

  }
 